.header{
    margin-left: 3%;
    width: 96%;
}
.btn-header{
    margin-left: 5%;
    width: 25%;
    height: 80px;
    background: #e2e2e2;
    border: 2px solid #777777;
    color: black;
    font-size: 18px;
}
.btn-header:hover{
    background: #777777;
    color: yellow;
    font-style: italic;
    border: 2px solid yellow;
}
